
<div class="container mt-4">
    <div class="row justify-content-center">
    <form [formGroup]="pictureForm">
      <div class="col-md-6">
       
        <div class="form-group text-center">
          <label for="profileImage">Profile Image</label>
          <div class="d-flex justify-content-center align-items-center mb-3" style="width: 125px; height: 125px; border: 2px solid #000; background: #f0f0f0;">
            <ng-container *ngIf="profileImageUrl; else noImage">
              <img [src]="profileImageUrl" alt="Profile Image" class="img-fluid" style="max-width: 100%; max-height: 100%; object-fit: cover;" />
            </ng-container>
            <ng-template #noImage>
              <i class="fas fa-image" style="font-size: 48px; color: #ccc;"></i>
            </ng-template>
          </div>
          <input type="file" class="form-control-file" id="profileImage" (change)="onFileChange($event)" />
        </div>
        <button class="btn btn-primary" (click)="onSubmit()">Upload</button>
      </div>
    </form>
    </div>
  </div>
  